@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.custom-input{
    @apply w-full h-10 pl-10 bg-transparent border border-gray-300 rounded-full shadow-glass focus:outline-none;
}
.custom-label{
    @apply text-base font-medium text-gray-800;
}
.btn{
    @apply flex items-center justify-center w-full h-10 mt-8 text-base font-medium text-white shadow-lg rounded-3xl;
}
.modal-btn{
    @apply flex items-center justify-center w-full h-10 text-sm font-medium text-white shadow-lg rounded-xl;
}